<div class="advanced-search-row">
    <div class="advanced-search-row-label">
        <button class="usa-button--unstyled delete-row" type="button" title="Delete row"><span class="fas fa-minus-circle"></span></button>
        <label class="usa-label">{{row.displayName}}:</label>
    </div>
    <div class="advanced-search-row-input">
        {{#if isSelect}}
            <select class="usa-select" name="{{row.name}}" style="width: 100%">
                <option value="">- Select -</option>
                {{#if isBoolean}}
                    <option value="true" {{#if isTrue}}selected{{/if}}>True</option>
                    <option value="false" {{#if isFalse}}selected{{/if}}>False</option>
                {{/if}}
            </select>
        {{else if isDate}}
            <input class="search-date usa-input" type="date" name="{{row.name}}" value="{{row.value}}" />
        {{else}}
            <input class="usa-input" type="{{row.inputType}}" name="{{row.name}}" value="{{row.value}}"/>
        {{/if}}
    </div>
</div>
