<div>
    <div class="col-sm-4">
        <button class="delete-row" title="Delete row"><span class="fa fa-minus-circle"></span></button>
        <label class="">{{row.displayName}}:</label>
    </div>
    <div class="col-sm-8">
        {{#if isSelect}}
            <select name="{{row.name}}">
                <option value="">- Select -</option>
                {{#if isBoolean}}
                    <option value="true" {{#if isTrue}}selected{{/if}}>True</option>
                    <option value="false" {{#if isFalse}}selected{{/if}}>False</option>
                {{/if}}
            </select>
        {{else if isDate}}
            <div class="date">
                <input type="text" name="{{row.name}}" value="{{row.value}}" />
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        {{else}}
            <input type="{{row.inputType}}" name="{{row.name}}" value="{{row.value}}"/>
        {{/if}}
    </div>
</div>
