<div class="alert-error-container">
	<div class="alert-container"></div>
	<pre class="validation-errors"></pre>

</div>

<div>
	<div id="pubHeader">
		<div id="sharedPubData" class="form-horizontal" >
			<div id="pub-id-div" class="form-group">
				<label class="control-label col-sm-3" >Prod ID</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" value="{{model.id}}" readonly/>
				</div>
			</div>

			<div id="pub-index-id-div" class="form-group">
				<label class="control-label col-sm-3" >Index ID</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" value="{{model.indexId}}" readonly />
				</div>
			</div>

			<div id="ipds-div" class="form-group">
				<label class="control-label col-sm-3" >IPDS</label>
				<div class="col-sm-6">
					<input type="text" id="ipds-input" class="form-control" value="{{model.ipdsId}}" readonly />
				</div>
			</div>

			<div id="pub-display-to-public-div" class="form-group">
				<label class="control-label col-sm-3" >Display to public date</label>
				<div class="input-group date" id="display-date">
					<input type="text" class="form-control" value="{{model.displayToPublicDate}}"/>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
			{{#if model.id }}
				<div id="pub-preview-div" class="form-group">
					<label class="control-label col-sm-3">Publication preview</label>
					<div class="col-sm-6">
						<a href="https://pubs.er.usgs.gov/preview/{{ pubData.indexId }}">Preview</a>
					</div>
				</div>
			{{/if}}
		</div>
		<div class="row actions">
			<button class="reset-btn btn btn-default col-xs-offset-1 col-xs-2">Reset</button>
			<button class="release-btn btn btn-default col-xs-2">Release</button>
			<button class="save-btn btn btn-default col-xs-2">Save Changes</button>
			<button class="publish-btn btn btn-default col-xs-2">Publish</button>
			<button class="delete-btn btn btn-default col-xs-2">Delete</button>
		</div>
	</div>
	<div class="edit-tabs">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#bibliodata" aria-controls="bibliodata" role="tab" data-toggle="tab">Bibliodata</a></li>
			<li role="presentation"><a href="contributors" aria-controls="contributors" role="tab" data-toggle="tab">Contributors</a></li>
			<li role="presentation"><a href="links" aria-controls="links" role="tab" data-toggle="tab">Links</a></li>
			<li role="presentation"><a href="spn" aria-controls="spn" role="tab" data-toggle="tab">SPN</a></li>
			<li role="presentation"><a href="cataloging" aria-controls="cataloging" role="tab" data-toggle="tab">Cataloging</a></li>
			<li role="presentation"><a href="geospatial" aria-controls="geospatial" role="tab" data-toggle="tab">Geospatial</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tap-pane active" id="bibliodata"></div>
			<div role="tabpanel" class="tap-pane" id="contributors"></div>
			<div role="tabpanel" class="tap-pane" id="links"></div>
			<div role="tabpanel" class="tap-pane" id="spn"></div>
			<div role="tabpanel" class="tap-pane" id="cataloging"></div>
			<div role="tabpanel" class="tap-pane" id="geospatial"></div>
		</div>
	</div>
</div>